@import "variables";
section{
    .imgorganiza {
        display: flex;
        justify-content:space-around ;
        padding-top: 1rem;
        background-color: $color4o;

    }

    .infocongreso{
        display: flex;

        .info{
            font-family: $fuente1;
            padding: 2rem;
            text-align: center;
            box-sizing: 20%;
            

            h2{
                font-size: 3rem;
                padding-left: 3rem;
                
            }
            p{
                padding-top: 2rem;
                text-align: justify;
                font-size: 1.2rem;
                padding-left: 6rem;
                padding-right: 3rem;
               

            }
        }

        .imginfo{
              img{
                  padding-top: 2rem;
                  padding-right: 5rem;
                  width: 70vh;
                  height: auto;
              }
        }
    }

}
@media screen and (max-width:1024px) {
    .imgorganiza{
        flex-direction: column;
    }

    .infocongreso{
        flex-direction: column;

        .imginfo{
            
            width: 0;
            height: 0;
            padding-top: 0;
            padding-right: 0;
        }
         
    }
}



   


